.Event {
    padding: .5em 1em;
    background: rgba(245, 245, 245, 0.5);
    border-radius: 1em;
    font-size: 14px;
    width: 95px;
    text-align: center;
    margin-right: 1em;
    &.current {
        background: #3f51b5;
        color: #fff;
    }
}